:root {
    --noir: rgb(0,0,0);
    --bleu: rgb(18, 52 ,88);
    --beige: rgb(192,192,192);
    --blanc: rgb(255, 255, 255);
}

.conteneur-icones-etampes {
    top: 66%;
    transform: translate(0, -50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50px;
    position: absolute;
    right : 0px;
    align-items: center;

    background-color: var(--noir);
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px 0 0 10px;
}

.icone-etampe {
    width: 30px;

    color : var(--noir);
    background-color: var(--beige);
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
}